body {
  background: black;
  /* text: white; */
  font-family: 'Cantata One', serif;
}

#spnfont {
  font-family: 'ZCOOL XiaoWei', serif;
}

#mainGameArea {
  border: 2px solid black;
}

#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display: block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
}

#my-wrong-word {
  margin: 0;
  display: inline-block;
  padding: 0;
}

#my-wrong-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
}